{{>header}}
{{>navbar}}
<section class="container my-3">
    <div class="border border-primary m-1">
        <p class="m-1"> Client ID : {{userId}}</p>
    </div>
    <div class="border border-primary m-1">
        <form class="my-3 p-3" method="post">
            <div class="mb-3">
                <input placeholder="Amount" name="amount">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">{{transactionType}}</button>
            </div>
        </form>
    </div>
</section>
{{>footer}}